* {
	font-family: 'Cabin', sans-serif;
	overflow:hidden;
}

h1 {
	position:relative;
	top: 9.5vh;
	font-size: 6.5vw;
	margin-bottom: 10vh;
	padding-top: -5vh;
	overflow: visible;
}

h2 {
	font-size: 2vw;
}

p {
	font-size: 1.8vw;
}

/* styling */

body {
	padding:0;
	margin:0;
	background: #000;
	color: #FFF;
}

section {
	display: flex;
	flex-direction: row;
	justify-content: flex-start;
	align-items: center;
	height:100vh;
	padding-left: 16vw;
	padding-right: 16vw;
	margin-top: 8vh;
	
}

/* Loading */

#loading {
	background: #999;
	padding-left: 0;
	padding-right: 0;
	margin-top: -8vh;
	height: 116vh;
	flex-direction: row;
	justify-content: center;
}

#loadingScreen {
	position: fixed;
	z-index: 2;
	top: 0;
	left :0;
	
	
	opacity: 0;
	pointer-events: none;
}

.loaded {
	opacity: 0;
	trasition: opacity 1s;
	pointer-events: none;
	z-index: -2;
}

#loading video {
	position: absolute;
	height: 100vh;
	min-height: 100vh;
	min-width: 100vw;
	width: auto;
	z-index: 1;
}

#loading #loadNav {
	position: absolute;
	top: 78vh;
	z-index: 2;
}

#loading #loadNav:hover {
	transform: scale(1.1);
	transition: 0.5s;
}

#loading p {
	position: absolute;
	left:0;
	top:7%;
	width:100%;
	text-align: center;
	font-size:2vw;
	color:#FBF8F8;
	
	text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#loading img {
	width: 10vw;
}

/* Title style */

#title {
	flex-direction: column;
	background-image: url(../images/TitleBG.jpg);
	background-color: #999;
	background-blend-mode: multiply;
	background-size: 100%;
	background-position: center center;
	background-repeat:no-repeat;
	z-index: 1;
}

#nav {
	z-index: 1;
	position: relative;
	height:0px;
	width:80vw;
	top:19vh;
	left: 0vw;
	margin-top: 0;
	overflow:visible;
	justify-content:space-around;
}

#nav a {
	text-decoration: none;
	color: #FFFFFF;
	margin-top: 1em;
}

#nav p {
	pointer-events: none;
}

#nav #descBtn{
	height:23vw;
}
#nav #descLink p{
	position: absolute;
	left: 5%;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size:2.3vw;
	color:#FBF8F8;
	opacity: 0;
	
	text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#nav #foodBtn{
	height:23vw;	
}

#nav #foodLink p{
	position: absolute;
	left: 5%;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size:2.3vw;
	color:#FBF8F8;
	opacity: 0;
	
	text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#nav #locBtn{
	height:23vw;	
}

#nav #locLink p{
	position: absolute;
	left: 5%;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size:2.3vw;
	color:#FBF8F8;
	opacity: 0;
	
	text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#nav #histBtn{
	height:23vw;	
}

#nav #histLink p{
	position: absolute;
	left: 5%;
	top: 30%;
	width: 100%;
	text-align: center;
	font-size:2.3vw;
	color:#FBF8F8;
	opacity: 0;
	
	text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

#nav #descLink:hover{
	transform: scale(1.2);
	transition: 0.5s;
}

#nav #foodLink:hover{
	transform: scale(1.2);
	transition: 0.5s;
	}
#nav #locLink:hover{
	transform: scale(1.2);
	transition: 0.5s;
	}

#nav #histLink:hover{
	transform: scale(1.2);
	transition: 0.5s;
	}

/* Description style */

#desc {
	flex-direction:column;
	background-image: url(../images/TitleBG.jpg);
	background-color: #999;
	background-blend-mode: multiply;
	background-size: 100%;
	background-position: center center;
	background-repeat:no-repeat;
	z-index: 0;

}

#desc h1 {
	text-align: center;
}

#desc #descA {
	justify-content: center;
	height: 100vh;
	position:absolute;
	padding-left: inherit;
	padding-right: inherit;
	background-image: url(../images/TitleBG.jpg);
	background-color: #999;
	background-blend-mode: multiply;
	background-size: 100%;
	background-position: center center;
	background-repeat:no-repeat;
	z-index: 0;
}

#desc #descB {
	justify-content: flex-start;
	height: 100vh;
	width:68vw;
	left: 100%;
	position:absolute;
	padding-left: inherit;
	padding-right: inherit;
	background-image: url(../images/TitleBG.jpg);
	background-color: #999;
	background-blend-mode: multiply;
	background-size: 100%;
	background-position: center center;
	background-repeat:no-repeat;
	z-index: 0;
}

#desc #descC {
	justify-content: flex-start;
	height: 100vh;
	width:68vw;
	left: 200%;
	position:absolute;
	padding-left: inherit;
	padding-right: inherit;
	background-image: url(../images/TitleBG.jpg);
	background-color: #999;
	background-blend-mode: multiply;
	background-size: 100%;
	background-position: center center;
	background-repeat:no-repeat;
	z-index: 0;
}

#desc #descD {
	justify-content: flex-start;
	height: 100vh;
	width:68vw;
	left: 300%;
	position:absolute;
	padding-left: inherit;
	padding-right: inherit;
	background-image: url(../images/TitleBG.jpg);
	background-color: #999;
	background-blend-mode: multiply;
	background-size: 100%;
	background-position: center center;
	background-repeat:no-repeat;
	z-index: 0;
}

#desc .invisible{
	opacity:0;
	
	transition: opacity 1s;
	z-index: -1;
}

#desc .visible {
	opacity: 100;
	
	transition: opacity 1s;
	z-index: 0;
}

#descNav {
	position: absolute;
    top: 30vh;
    left: 25vw;
}

#descNav img{
	width:15vh;
	Height:15vh;
	}
#descNav img:hover{
	transform: scale(1.1);
	transition: 0.5s;
	}


/* History style */

#history {
	flex-direction: column;
}

#history h1 {
	top: -5vh;
	margin-bottom: -1vh;
}

#histSection div {
	display: none;
	overflow: visible;
	position: relative;
	
	background-color: rgba(0,0,0,0.80);
	border: solid #FFF;
	text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
	pointer-events: none;
}

#histLinks {
	position:absolute;
	top: 360vh;
	width: 100%;
	height: 62.5vw;
	overflow: visible;
}

#magGlass {
	position: absolute;
	top:40%;
	width: 100%;
}

#timeline {
	position:absolute;
	top: 0%;
	pointer-events: none;
	width:100%;
	z-index: -1;
}

#timeline img {
	width: 100%;
}

/* Cannot scale a boxes to image size */

#histLink1 img {
	height: 10vw;
}

#magGlass img:hover{
	transform: scale(0.8);
}

#histLink2 img {
	height: 10vw;
}

#histLink3 img {
	height: 10vw;
}

#histLink4 img {
	height: 10vw;
}

#histLink5 img {
	height: 10vw;
}

#histLink6 img {
	height: 10vw;
}

#histLink7 img {
	height: 10vw;
}

#histLink8 img {
	height: 10vw;
}
#histLink9 img {
	height: 10vw;
}

#histLink1{
	position: relative;
	left: 12.5%;
	overflow:visible;
}

#histLink2{
	position: relative;
	left: 11.25%;
	overflow:visible;
}

#histLink3{
	position: relative;
	left: 11.75%;
	top:-3vh;
	overflow:visible;
}

#histLink4{
	position: relative;
	left: 3.5%;
	top:3vh;
	overflow:visible;
}

#histLink5{
	position: relative;
	left: -4.875%;
	top:-3vh;
	overflow:visible;
}

#histLink6{
	position: relative;
	left: -3.5%;
	overflow:visible;
}

#histLink7{
	position: relative;
	left: 0.5%;
	overflow:visible;
}

#histLink8{
	position: relative;
	left: -2%;
	overflow:visible;
}

#histLink9{
	position: relative;
	left: -8.5%;
	overflow:visible;
}




/* Food style */

#food {
	postion: relative;
	flex-direction: column;
}

#food img {
	height: 10vh;
	align-content:center;
}

#food #prey {
	position: relative;
	flex-direction: row;
	justify-content:space-around;
	top: 5vw;
}

#food #pred {
	position: relative;
	bottom: -30vh;
	flex-direction: row;
	justify-content:space-around;
}

/* Location style */

#loc {
	flex-direction: column;
}

#loc h1 {
	top: -5vh;
	margin-bottom: -1vh;
}

#locationMap {
	position: absolute;
	width: 1024px;
	height: 560px;
	top: 578vh;
}

#map {
	position: absolute;
	top:0%;
	z-index:1;
	width: 1024px;
	height: 560px;
}

#locMagGlass {
	position: relative;
	top: 0%;
	width: 1024px;
	height: 560px;
	z-index: 2;
}

#locMagGlass img:hover {transform:scale(1.2); transition: 0.2s;}

#hist01{
	height:20px;
	position: relative;
	top: 53%;
	left: 65%;
}

#hist02{
	height:20px;
	position: relative;
	top: 29%;
	left: 20%;
}

#hist03{
	height:20px;
	position: relative;
	top: 32.5%;
	left: 20%;
}

#hist04{
	height:20px;
	position: relative;
	top: 32%;
	left: 15.5%;
}

#hist05{
	height:20px;
	position: relative;
	top: 29.5%;
	left: 15.5%;
}

#hist06{
	height:20px;
	position: relative;
	top: 27.5%;
	left: 15.5%;
}

#hist07{
	height:20px;
	position: relative;
	top: 29%;
	left: 69.75%;
}

#hist08{
	height:20px;
	position: relative;
	top: 26.5%;
	left: 8.5%;
}

#hist09{
	height:20px;
	position: relative;
	top: 55%;
	left: 74%;
}



/* nav */


#titleBtn {
	position: fixed;
	top:3vh;
	right: 3vw;
	z-index: 1;
}

#titleBtn img{
	width: 15vw;
	}

#titleBtn p {
	position: absolute;
	left:0;
	top:23%;
	width:100%;
	text-align: center;
	font-size:2vw;
	color:#FBF8F8;
	
	text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
	}

#titleBtn:hover{
	transform: scale(1.1);
	transition: 0.5s;
}

#logo {
	z-index: 2;
	position: fixed;
	top:3vh;
	left:3vw;
	
	transition: opacity 0.5s
}

#logo img {
	height: 150px;
	filter: invert(100%);
}

/* Footer and feedback */

#footer {
	position: fixed;
	bottom: 0%;
	width: 100%;
	height: 2vh;
	background-color: #333;
	overflow: visible;
	color: white;
}

#feedbackAlign {
	position: absolute;
	text-align: right;
	right: 0%;
	top:0%;
	font-size: 2vh;
}

#feedbackSec{
	flex-direction: column;
	justify-content: flex-start;
	height: 100vh;
	width: 100vw;
	left: 100%;
	position:absolute;
	padding-left: inherit;
	padding-right: inherit;
}

#error {
  border:2px solid #f00;
  background-color:#fcc;
  padding:10px;
  display:none;
  
  text-shadow:
    3px 3px 0 #000,
   -1px -1px 0 #000,  
    1px -1px 0 #000,
   -1px  1px 0 #000,
    1px  1px 0 #000;
}

